* {
	margin: 0px;
	padding: 0px;
}

body
{
    font-family: 'Signika', sans-serif;
	background-repeat: no-repeat;
	background-position: 0px 15px;
	cursor: none;
    overflow-x:hidden;
    color: white;
}

footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

html,body{
    height: 100%
}

.time2
{
    font-size: 7vmax;
    font-family: 'Signika', sans-serif;
    font-weight: 700; 
	text-align: center;
	width: 100%;
    color: white;
}

